.navbar {
  padding: 10px;
  flex-direction: column;
  text-align: center;
}

.link {
  color: black;
  justify-content: space-between;
  text-decoration: none;
  margin-right: 25px;
}

footer {
  text-align: center;
  font-size: 12px;
}

h1 {
  text-align: center;
}

main {
  justify-content: center;
}
